/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "normalize.css/normalize"
 *= require "bootstrap/dist/css/bootstrap"
 *= require "flat-ui/dist/css/flat-ui"
 */

@import "common";
@import "core";

@import "home";
@import "profile";
@import "sessions";
@import "users";

@import "embed";

@font-face {
  font-family: 'Lato';
  src: asset-url('flat-ui/fonts/lato/lato-black.eot');
  src: asset-url('flat-ui/fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), asset-url('flat-ui/fonts/lato/lato-black.woff') format('woff'), asset-url('flat-ui/fonts/lato/lato-black.ttf') format('truetype'), asset-url('flat-ui/fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: asset-url('flat-ui/fonts/lato/lato-bold.eot');
  src: asset-url('flat-ui/fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), asset-url('flat-ui/fonts/lato/lato-bold.woff') format('woff'), asset-url('fonts/lato/lato-bold.ttf') format('truetype'), asset-url('fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: asset-url('fonts/lato/lato-bolditalic.eot');
  src: asset-url('fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), asset-url('fonts/lato/lato-bolditalic.woff') format('woff'), asset-url('fonts/lato/lato-bolditalic.ttf') format('truetype'), asset-url('fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: asset-url('flat-ui/fonts/lato/lato-italic.eot');
  src: asset-url('flat-ui/fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), asset-url('flat-ui/fonts/lato/lato-italic.woff') format('woff'), asset-url('flat-ui/fonts/lato/lato-italic.ttf') format('truetype'), asset-url('flat-ui/fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: asset-url('flat-ui/fonts/lato/lato-light.eot');
  src: asset-url('flat-ui/fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), asset-url('flat-ui/fonts/lato/lato-light.woff') format('woff'), asset-url('flat-ui/fonts/lato/lato-light.ttf') format('truetype'), asset-url('flat-ui/fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: asset-url('flat-ui/fonts/lato/lato-regular.eot');
  src: asset-url('flat-ui/fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), asset-url('flat-ui/fonts/lato/lato-regular.woff') format('woff'), asset-url('flat-ui/fonts/lato/lato-regular.ttf') format('truetype'), asset-url('flat-ui/fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: asset-url('flat-ui/fonts/glyphicons/flat-ui-icons-regular.eot');
  src: asset-url('flat-ui/fonts/glyphicons/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), asset-url('flat-ui/fonts/glyphicons/flat-ui-icons-regular.woff') format('woff'), asset-url('flat-ui/fonts/glyphicons/flat-ui-icons-regular.ttf') format('truetype'), asset-url('flat-ui/fonts/glyphicons/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}
