%clearfix {
  *zoom: 1;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%main-section {
  background-color: rgb(255, 255, 255);

  width: 1000px;
  margin: 96px auto 0;
  padding: 48px 24px;

  box-shadow: 0 2px 12px rgb(52, 52, 52);
}
