#home {
  @extend %main-section;

  > ul {
    @extend %clearfix;
    list-style-type: none;

    margin: 0;
    padding: 0 50px;

    > li {
      @extend %clearfix;
      float: left;

      width: 400px;
      height: 210px;

      overflow: hidden;

      .circle {
        display: block;
        float: left;

        width: 150px;
        height: 150px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        border-radius: 75px;
        border: 5px solid rgb( 228, 228, 228);

        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
      }

      .data {
        margin-left: 160px;

        h3 {
          font-size: 22px;
          margin: 10px 0;
        }

        p {
          font-size: 16px;
        }

        ul {
          @extend %clearfix;
          list-style-type: none;

          padding-left: 20px;
          height: 40px;

          li {
            float: left;

            span {
              font-size: 22px;
            }

            & + li {
              margin-left: 10px;
            }
          }
        }
      }

      &:nth-child(2n) {
        margin-left: 50px;
      }
    }
  }
}
