#login-panel {
  background-color: rgb(255, 255, 255);

  width: 500px;
  min-height: 500px;

  margin: 0 auto;

  box-shadow: 0 2px 12px rgb(52, 52, 52);

  h1 {
    font-size: 40px;
    text-align: center;

    padding: 38px 0;
  }

  div.alert {
    width: 80%;
    margin: 0 auto 20px;
  }

  form {
    .form-group {
      margin-right: auto;
      margin-left: auto;

      width: 80%;
    }
  }

  p {
    font-size: 14px;
    text-align: center;
  }

  hr {
    border-width: 3px;
    margin: 36px 0;
  }

  ul {
    list-style-type: none;
    padding: 0 0 38px;

    li {
      width: 80%;
      margin: 0 auto;

      & + li {
        margin-top: 18px;
      }

      .btn {
        position: relative;

        span {
          position: absolute;
          display: inline-block;

          top: 12px;
          left: 12px;

          font-size: 22px;
          margin-right: 20px;
        }

        &.btn-facebook {
          color: white;
          background-color: rgb(59, 89, 152);

          &:hover {
            background-color: rgb(105, 102, 172);
          }
        }

        &.btn-twitter {
          color: white;
          background-color: rgb(85, 172, 238);

          &:hover {
            background-color: rgb(131, 185, 255);
          }
        }

        &.btn-github {
          color: white;
          background-color: rgb(51, 51, 51);

          &:hover {
            background-color: rgb(97, 64, 71);
          }
        }
      }
    }
  }
}
