!!! 5

%html
  %head
    %title Code for Chiba User Profile
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false

    %body.embed
      = yield
